name: sdai
services:


  # ===== MAIN (DF/AMS) =====
  jade-main:
    build:
      context: ..   # build from the "jade/" root
      dockerfile: docker/Dockerfile
    image: sdai:main
    container_name: jade-main
    profiles: ["main"]
    network_mode: host            # share host stack to expose the Tailscale interface
    environment:
      ROLE: "main"
      PUBLIC_HOST: ${PUBLIC_HOST:-100.84.182.11}
      #PUBLIC_HOST: ${PUBLIC_HOST:-jade-main} # local
      PORT: "1099"
      HTTP_PORT: "7778"
      SRC_DIR: "/app/"   # internal path inside the container
      OUT_DIR: "/app/out"
      LIB_DIR: "/app/web-ui/lib"
    ports:
      - "1099:1099"
      - "7778:7778"
      - "4100:4100"               # dashboard monitor for Main

  # ===== ROLE SHORTCUT =====

  jade-agent:
    # If the image is not present locally, build it using the same Dockerfile as the main
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: sdai:main
    container_name: jade-agent
    profiles: ["agent"]
    network_mode: host            # share host stack to expose the Tailscale interface
    environment:
      ROLE: "agent"
      MAIN_HOST: ${MAIN_HOST:-100.84.182.11}
      PORT: "1099"
      PUBLIC_HOST: ${PUBLIC_HOST:-$${COMPOSE_SERVICE}}
      SRC_DIR: "/app/"
      OUT_DIR: "/app/out"
      LIB_DIR: "/app/web-ui/lib"
      MAIN_MONITOR_AUTOSTART : "1"   # auto-start monitor in the background
    ports:
      - "1099:1099"               # IMTP/RMI
      - "7778:7778"               # HTTP-MTP


 # ===== PRESET: UserAgent + GUI (server.js) =====
  user-ui:
    extends:
      service: jade-agent         # reuse base image/entrypoint/env
    container_name: user-ui
    network_mode: host            # share host stack to expose the Tailscale interface
    networks: []
    environment:
      AGENTS: "user:agents.UserAgent"
      UI_AUTOSTART: "1"          # auto-start npm in the background
      QUERY_HOST: ${QUERY_HOST:-query}
      QUERY_PORT: ${QUERY_PORT:-5001}
      LOCAL_HOST: ${LOCAL_HOST:-}
      LOCAL_PORT: ${LOCAL_PORT:-}
    ports: []

  # ===== PRESET: ParserAgent =====
  parser:
    extends:
      service: jade-agent
    container_name: parser
    profiles: ["agent"]
    environment:
      AGENTS: "parser:agents.ParserAgent"
      FRONT_HOST: ${FRONT_HOST:-user-ui}
      FRONT_PORT: ${FRONT_PORT:-5002}

  # ===== PRESET: LogicAgent =====
  logic:
    extends:
      service: jade-agent
    container_name: logic
    profiles: ["agent"]
    environment:
      AGENTS: "logic:agents.LogicAgent"
      FRONT_HOST: ${FRONT_HOST:-user-ui}
      FRONT_PORT: ${FRONT_PORT:-5002}

  # ===== PRESET: QueryAgent =====
  query:
    extends:
      service: jade-agent
    container_name: query
    profiles: ["agent"]
    environment:
      AGENTS: "query:agents.QueryAgent"
      FRONT_HOST: ${FRONT_HOST:-user-ui}
      FRONT_PORT: ${FRONT_PORT:-5002}
    
